.eventCoverImage{
	height: 108px;
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}
.leftCover{
	padding: 0px 10px 0px 0px;
}
.deleteBtn{
	border-radius: 5px;
	background: #ed6e68 !important;
	height: 45px;
	color: #fff;
	text-transform: capitalize;
	font-size: 13px;
	margin: 0px;

	ion-icon{
		padding-right: 5px;
	}
}
.uploadBtn{
	border-radius: 5px;
	background: #fff !important;
	height: 45px;
	color: #000;
	text-transform: capitalize;
	font-size: 13px;
	margin: 0px 0px 10px 0px;
	

	ion-icon{
		padding-right: 5px;
	}
}
ion-range {
    --knob-size: 25px;
	padding: 0px 0px 0px 9px;
	--bar-background: #635d5d;
	--knob-background: #60f4d2;
	--bar-background-active: #635d5d;
	--height: 20px;
}
ion-range::part(pin) {
  transform: translate3d(0px, 28px, 0px) scale(1);
  background: none !important;
}
ion-range::part(pin)::before{
	background: none !important;
}
.capacityLabel{
	font-size: 27px;
	font-weight: 600;
}
.ageHeight{
	height: 60px !important;
}
.dateTimeBar{
	ion-col{
		padding: 0px 10px 0px 0px;
	}
}
.rightCover{
	display: table;
	div{
		display: table-cell;
		vertical-align: middle;
	}
}
.cameraIcon{
	background: url('/assets/icon/camera.png') no-repeat center;
  	background-size: 100%;
}
.trashIcon{
	background: url('/assets/icon/delete.png') no-repeat center;
  	background-size: 17px;
}
.dropDownIcon{
	background: url('/assets/icon/dropdown.png') no-repeat center;
  	background-size: 17px;
}
ion-select::part(icon) {
  opacity: 1;
  color: transparent;
  background: url('/assets/icon/dropdown.png') no-repeat center;
  background-size: 15px;
}
.eventCover{
	/*background: #313131;
	padding: 10px;*/
}
.eventTypeBar{
	background: #fff;
	color: #000;
	padding: 8px 0px;
	border-radius: 10px;

	ul{
		margin: 0px;
		padding: 0px;

		li{
			list-style: none;
			padding: 10px;
			border-bottom: 1px solid #ddd;
			color: #000;
			text-shadow: 0px 0px 1px #000;
		}
	}
}