<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920607308700-0t5c23a7b8o0o1u869figtiun9f445dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920607308700-0t5c23a7b8o0o1u869figtiun9f445dk</string>
	<key>API_KEY</key>
	<string>***************</string>
	<key>GCM_SENDER_ID</key>
	<string>920607308700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.doorman.com</string>
	<key>PROJECT_ID</key>
	<string>doorman-f73c1</string>
	<key>STORAGE_BUCKET</key>
	<string>doorman-f73c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920607308700:ios:e371d2847f55830cd1e659</string>
</dict>
</plist>
