<ion-header>
  <ion-toolbar class="myToolbar" mode="md">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/scan-qr" mode="md" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Send QR Scanner</ion-title>
    <div slot="end"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<div class="InnerRow">
			<span>
				<img src="../assets/icon/messages2.png">
				<label>Messages</label>
			</span>
			<span>
				<img src="../assets/icon/gmail.png">
				<label>Gmail</label>
			</span>
		</div>
	</ion-row>
</ion-content>
