.mainRow{
	background: #fff;
	border-radius: 10px;
	padding: 0px 0px 4px 5px;
	width: 100%;
	position: relative;
	display: table;
	margin-bottom: 20px;

	.leftImg{
		width: 60px;
		display: table-cell;
		vertical-align: middle;
		img{
			height: 55px;
			border-radius: 50%;
			width: 55px;
			vertical-align: middle;
		}
	}
	.rightImg{
		float: right;
		padding: 3px 4px 0px 5px;
		img{
			height: 60px;
			vertical-align: middle;
		}
	}

	.middleText{
		width: 60%;
		display: table-cell;
		vertical-align: middle;
		span{
			display: table-cell;
			vertical-align: middle;
			color: #000;
			font-size: 18px;
		}
	}
}
ion-footer{
	background: #000 !important;
	padding-top: 10px;
	padding-bottom: 15px;

	.footerRow{
		padding: 10px 10px 10px 10px;

		span{
			font-size: 14px;
			color: #fff;
			line-height: 1.5;
		}

		ion-button{
			height: 60px !important;
		}
	}
}
