<ion-header>
  <ion-toolbar class="myToolbar" mode="md">
     <ion-buttons slot="start" mode="md" (click)="backToPrevious()">
      <ion-back-button defaultHref="" mode="md" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Your Profile</ion-title>
    <div slot="end" class="text-center">
    	<img src="../assets/icon/pen.png" class="PenIcon" routerLink="/edit-profile/{{isPageType}}" routerDirection="root">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row class="padd15">
		<div class="sliderMainRow sliderOther">
	        <swiper
	          [config]="sliderConfig"
	          #sliderRow
	          *ngIf="userImages.length > 0"
	        >
	          <ng-template swiperSlide *ngFor="let user_image of userImages">
	            <div class="sliderContainer">
	              <img src="{{user_image.image}}">
	            </div>
	          </ng-template>
	        </swiper>
	        <swiper
	          [config]="sliderConfig"
	          #sliderRow
	          *ngIf="userImages.length == '0'"
	        >
	          <ng-template swiperSlide>
	            <div class="sliderContainer">
	              <img src="{{userData.profile_pic}}">
	            </div>
	          </ng-template>
	        </swiper>
	        <div class="sliderBottomContainer">
	          	<ion-row class="sliderBottomTop">
	          		<ion-col size="12"><h2>{{userData.name}}, {{userData.age}}</h2></ion-col>
	          		<ion-col size="12"><label>{{userData.gender}}</label></ion-col>
	          		<ion-col size="12"><label>{{userData.school_name}}</label></ion-col>
	          	</ion-row>
	          	<ion-row class="sliderBottomMiddle">
	          		<ion-col size="6" class="leftMiddleBottom">
	          			<label>{{userData.bio}}</label>
	          		</ion-col>
	          		<ion-col size="6" class="rightMiddleBottom">
	          			<div>
	          				<ion-icon name="starIcon" class="starIcon" slot="start"></ion-icon>
	          				<label>Rating: <span>4.5/5</span></label>
	          			</div>
	          		</ion-col>
	          	</ion-row>
	          	<!-- <span class="scanner"><img src="../assets/images/scanner.png" routerLink="/tabs/tabs/settings/user-profile-scanner" routerDirection="root"></span> -->
          	</div>
	    </div>
	</ion-row>
</ion-content>
